  ColorScheme
    { colorSchemeName = "{{scheme-slug}}"
    , colorSchemeDescription = "{{scheme-name}}"
    , colorSchemeAuthor = "{{scheme-author}}"
    , base00 = (0x{{base00-hex-r}}, 0x{{base00-hex-g}}, 0x{{base00-hex-b}})
    , base01 = (0x{{base01-hex-r}}, 0x{{base01-hex-g}}, 0x{{base01-hex-b}})
    , base02 = (0x{{base02-hex-r}}, 0x{{base02-hex-g}}, 0x{{base02-hex-b}})
    , base03 = (0x{{base03-hex-r}}, 0x{{base03-hex-g}}, 0x{{base03-hex-b}})
    , base04 = (0x{{base04-hex-r}}, 0x{{base04-hex-g}}, 0x{{base04-hex-b}})
    , base05 = (0x{{base05-hex-r}}, 0x{{base05-hex-g}}, 0x{{base05-hex-b}})
    , base06 = (0x{{base06-hex-r}}, 0x{{base06-hex-g}}, 0x{{base06-hex-b}})
    , base07 = (0x{{base07-hex-r}}, 0x{{base07-hex-g}}, 0x{{base07-hex-b}})
    , base08 = (0x{{base08-hex-r}}, 0x{{base08-hex-g}}, 0x{{base08-hex-b}})
    , base09 = (0x{{base09-hex-r}}, 0x{{base09-hex-g}}, 0x{{base09-hex-b}})
    , base0A = (0x{{base0A-hex-r}}, 0x{{base0A-hex-g}}, 0x{{base0A-hex-b}})
    , base0B = (0x{{base0B-hex-r}}, 0x{{base0B-hex-g}}, 0x{{base0B-hex-b}})
    , base0C = (0x{{base0C-hex-r}}, 0x{{base0C-hex-g}}, 0x{{base0C-hex-b}})
    , base0D = (0x{{base0D-hex-r}}, 0x{{base0D-hex-g}}, 0x{{base0D-hex-b}})
    , base0E = (0x{{base0E-hex-r}}, 0x{{base0E-hex-g}}, 0x{{base0E-hex-b}})
    , base0F = (0x{{base0F-hex-r}}, 0x{{base0F-hex-g}}, 0x{{base0F-hex-b}})
    }
